# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# CORS
FRONTEND_URL=http://localhost:5173

# Vault
VAULT_PRIVATE_KEY=""
VAULT_PUBLIC_KEY=""